body {
    /* background:url(images/bg.gif) repeat; */
    background:#282a36;
    color:#f8f8f2;
}

.entry ,
.source {
    /* background:#44475a; */
    background:#282a36;
    border:1px solid #44475a;
}

.entry-title a
.entry-content a {
    color:#ff79c6;
}


.source-title {
    color:#f8f8f2;
}

#fullscreen-entry .entry-title {
    /* color:#6272a4; */ /* see below */
    color:#f8f8f2;
}

.entry-title {
    color:#6272a4;
}

.entry-title a,
.entry-content a {
    color:#ff79c6;
}

/* only works after read-unread */
/* #fullscreen-entry .entry.unread .entry-title, */
.entry.unread  .entry-title {
    color:#f8f8f2;
}

.entry-datetime {
    color:#6272a4;
}

.entry-smartphone-share,
.entry-toolbar {
    background:#bd93f9;
}

.source-add,
.refresh-source {
    color: #6272a4;
}

.entry .found {
    color:#000;
    background:#50fa7b;
}
